body{
    background-color: #f1f4f6;
}
.main-font {
    font-family: Menlo,consolas,monospace, serif;
}
.console-out{
    background: #f3f3f3;
    border-radius: .25rem;

    letter-spacing: 0px;
}
.console{
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: .25rem !important;
}
#sandbox pre.output{
    height: 157px !important;
}
.app-container{
    min-height: auto !important;
}
.app-theme-white .app-footer .app-footer__inner, .app-theme-white .app-header{
    display: none !important;
}
.img-avatar{
    width: 160px;
    max-height: 160px;
    border-radius: .25rem
}

#card1, #card2, #card_output{
    display: none;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #3f51b5; }
